<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

<head>

<title>
	{% block title %}{% if title %}{{title|title}} | {% endif %}petal picker{% endblock %}
</title>

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/reset.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/text.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/960.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/layout.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/ui/smoothness/jquery-ui-1.7.2.custom.css" />
{% endblock %}

{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% endblock %}" />{% endif %}

{% block extrahead %}{% endblock %}

{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

{% block head_js %}
<script type="text/javascript" src="{{MEDIA_URL}}lib/jquery/jquery-1.4.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}lib/jquery/jquery-ui-1.7.2.custom.min.js"></script>
{% endblock %}

</head>
{% load i18n %}
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container" class="">
    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding">
        {% block branding %}<h1 id="site-name">petal picker</h1>{% endblock %}
        </div>
    </div>
	
    <!-- END Header -->
    {% endif %}

    <!-- Content -->
	
	<ul id="messagelist" class="{% if messages %}ui-state-highlight{% endif %}">
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	
	<ul id="global-links">
		{% include "global-links.html" %}
	</ul>
	<ul id="app-links">
		{% include "app-links.html" %}
	</ul>
	
    <div id="content" class="container_12">
        {% block pretitle %}{% endblock %}
		
        {% block content_title %}
		{% if title %}<h1 class="">{{ title }}</h1>{% endif %}
		{% endblock %}
		{% block sidebar %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
    </div>
    <!-- END Content -->

    {% block footer %}
	<div id="footer">
    	<a style="float:right;" href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangomade124x25_grey.gif" border="0" alt="Made with Django." title="Made with Django." /></a>
	</div>
	{% endblock %}
</div>
<!-- END Container -->
{% block foot_js %}{% endblock %}
</body>
</html>