<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

<head>

<title>
	{% block title %}{% if title %}{{title|title}} | {% endif %}petal picker{% endblock %}
</title>

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/reset.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/text.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/960.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/layout.css" />
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/ui/ui-darkness/jquery-ui-1.8.custom.css" />
{% endblock %}

{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% endblock %}" />{% endif %}

{% block extrahead %}{% endblock %}

{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

{% block head_js %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
{% endblock %}

</head>
{% load i18n %}
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container" class="container_12">
    {% if not is_popup %}
    <!-- Header -->
    <div id="header" class="container_12">
        <div id="branding" class="grid_3">
        {% block branding %}<h1 id="site-name">petal picker</h1>{% endblock %}
        </div>
		<ul id="nav" class="grid_9">
			<li>
				<a href="{% url specimen_list %}">list</a>
			</li>
			<li>
				<a href="{% url buttercup.specimen.views.new %}">new specimen</a>
			</li>
		</ul>
    </div>
	
    <!-- END Header -->
    {% endif %}

    <!-- Content -->
	
	<ul id="messagelist" class="grid_10 prefix_1 suffix_1 ui-state-highlight" style="{% if not messages %}display: none;{% endif %}">
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	<div class="clear"></div>
    <div id="content" class="container_12">
        {% block pretitle %}{% endblock %}
		{% comment %}
        {% block content_title %}
		{% if title %}<h1 class="">{{ title }}</h1>{% endif %}
		{% endblock %}
		{% endcomment %}
		{% block sidebar %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
    </div>
    <!-- END Content -->
	<div class="clear"></div>
    {% block footer %}
	<div id="footer" class="container_12 clearfix">
		<div class="grid_2 prefix_10">
	    	<a href="http://www.djangoproject.com/"><img src="http://media.djangoproject.com/img/badges/djangomade124x25_grey.gif" border="0" alt="Made with Django." title="Made with Django." /></a>
		</div>
	</div>
	{% endblock %}
</div>
<!-- END Container -->
{% block foot_js %}{% endblock %}
</body>
</html>