{% extends 'base.html' %}

{% block extrahead %}
<style type="text/css">
	#viewport {
		height: 521px;
		background: #000;
		position: relative;
	}
		
		#viewport img {
			position: absolute;
			margin: 0px;
		}
		#viewport #edge {
			display: none;
		}
	#slider-range {
		width: auto;
		display: block;
	}
</style>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}lib/jquery/Jcrop/jquery.Jcrop.css" />
{% endblock %}

{% block content %}
<div id="viewport" class="grid_10 clearfix">
	{% if specimen.image %}
	<img id="orig" src="{{specimen.image.url}}" />
	{% endif %}
	{% if specimen.edge %}
	<img id="edge" src="{{specimen.edge.url}}" />
	{% endif %}
</div>
<div id="tools" class="grid_2">
	<ul>
		<li>
			<label for="capture"><input type="checkbox" id="capture" /> capture scale</label>
		</li>
		<li>
			<label for="measure"><input type="checkbox" id="measure" /> measure</label>
		</li>
		<li>
			<label for="vis"><input type="checkbox" id="vis" /> show edge map</label>
		</li>
		<li>
			<label for="dim"><input type="checkbox" id="dim" /> dim edge map</label>
		</li>
	</ul>
	
	<form id='threshold' method="post" action="{% url do_canny specimen_id=specimen.pk %}">
	{{edge_form.as_p}}
	<input type="submit" value="update edge map" />
	</form>
	<h2>Measurements</h2>
	<dl>
		<dt>scale</dt>
		<dd id="scale">
			{% if specimen.scale %}
			{{specimen.scale}} pix/mm
			{% else %}
			undefined
			{% endif %}
		</dd>
		<dt>circle radius</dt>
		<dd id="radius">
			{% if specimen.circle_radius %}
				{{specimen.get_radius}} 
				{% if specimen.scale %}
				mm
				{% else %}
				pix
				{% endif %}
			{% else %}
				undefined
			{% endif %}
		</dd>
	</dl>
</div>
<div class="clear"></div>
<div class="grid_12">
	<form method="post" action="{{specimen.get_absolute_url}}">
	{{form.as_p}}
	<input type="submit" value="Submit" />
	</form>
</div>
{% endblock %}

{% block foot_js %}
<script type="text/javascript" src="{{MEDIA_URL}}lib/jquery/jquery.form.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}lib/jquery/Jcrop/jquery.Jcrop.min.js"></script>
<script type="text/javascript">
	jQuery(function($){
		$('form#threshold').submit(function() {
		    $(this).ajaxSubmit({success: function(){
				var timestamp = new Date().getTime();
				var img_src = '{{specimen.edge.url}}';
	     		$('#edge').attr('src',img_src+'?'+timestamp);
			}}); 
		    return false;
		}); 
		
		$('form#threshold p').add($('form#threshold input[type=submit]')).hide(0)
		$('form#threshold').prepend($('<div/>').attr('id','slider-range'))
		$("#slider-range").slider({
			range: true,
			min: 0,
			max: 1200,
			values: [250, 750],
			slide: function(event, ui) {
				$('#id_lo').val(ui.values[0]);
				$('#id_hi').val(ui.values[1]);
			},
			change: function(event, ui){
				$('form#threshold').submit()
			}
		});
		$('#id_lo').val($('#slider-range').slider('values', 0));
		$('#id_hi').val($('#slider-range').slider('values', 1));
		
		$('#dim').add($('#measure')).attr('checked', false)
		$('#vis').attr('checked', !!$('#edge').length)
		
		$('#vis').change(
			function(){
				$edge = $('#edge')
				if ($edge.length == true){
					if($(this).is(':checked')){
						$edge.show()
					} else {
						$edge.hide()
					}
				}
			}
		).change();
		
		$('#dim').change(function(){
			$edge = $('#edge')
			if ($edge.length == true){
				opac = $(this).is(':checked') ? 0.60 : 1;
				$edge.fadeTo('fast', opac)
			}
		}).change();
		$jcropper = null;
		$('#measure').change(
			function(){
				if($(this).is(':checked')){
					$jcropper = $.Jcrop('#edge',{
//						aspectRatio: 1,
						onSelect: function(c){
							url = '{% url calc_bbox specimen_id=specimen.pk %}'
							$.post(url, c, function(data, status){
								if ('success' == status){
									if(!!data.scale){
										radius = data.radius+' mm';
									} else {
										radius = data.radius+' pix';
									}
									$('#radius').text(radius);
								}
							}, 'json');
						},
						bgOpacity: 0.2
					});	
				} else {
					$jcropper.destroy();
				}
			}
		);
		SCALE = []
		function distance(x1,y1,x2,y2) {
			//find horizontal distance (x)
			var x = x2 - x1;
			//find vertical distance (y)
			var y = y2 - y1;
			//do calculation
			var hyp = Math.sqrt(x*x + y*y);
			return hyp;
		}
		$('#capture').change(function(){
			if($(this).is(':checked')){
				$('#viewport').css('cursor','cross-hair').click(function(e){
			        var x = e.pageX - this.offsetLeft;
			        var y = e.pageY - this.offsetTop;
					if (SCALE.length >= 2){
						SCALE = [];
					}
					SCALE.push({'x':x,'y':y})
			        $('#scale').text("X: " + x + " Y: " + y);
					if(2 == SCALE.length){
						$('#capture').attr('checked', false).change();
					} 
			    });
			} else {
				$('#viewport').css('cursor','default').unbind('click');
				if(2 == SCALE.length){
					pixels = distance(SCALE[0].x,SCALE[0].y,SCALE[1].x,SCALE[1].y)
					scale = pixels/20
					// refresh radius as needed
					// store in db
					url = '{% url store_scale specimen_id=specimen.pk %}'
					$.post(url, {'scale': scale}, function(data, status){
						$('#scale').text(''+scale+' pix/mm');
					});
				} else {
					SCALE = []
				}
			}
		});
		
		app = new function Application(){
			DEBUG = true
			this.mode = {
				VIEW: 'view mode',
				EDGE: 'edge mode',
				AREA: 'area mode',
				SCALE: 'scale mode',
			}
			
			_mode = this.mode.VIEW;
			
			this.getMode = function(){
				return _mode;
			}
			
			this.setMode = function(m){
				match = false
				for(modeName in this.mode){
					if (m == this.mode[modeName]){
						match = true
						break;
					}
				}
				if(!match){
					throw 'invalid app mode';
				}
				_mode = m;
				if(DEBUG){ console.log('set mode: '+this.getMode())}
				return this;
			}
		};
		
	});
</script>
{% endblock %}