{% extends 'base.html' %}

{% block extrahead %}
<style type="text/css">
	#viewport {
		height: 521px;
		background: #000;
		position: relative;
	}
		
		#viewport img {
			position: absolute;
			margin: 0px;
		}
		#viewport #edge {
			display: none;
		}
	#slider-range {
		width: auto;
		display: block;
	}
</style>
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}lib/jquery/Jcrop/jquery.Jcrop.css" />
{% endblock %}

{% block content %}
<div id="viewport" class="grid_10 clearfix">
	{% if specimen.image %}
	<img id="orig" src="{{specimen.image.url}}" />
	{% endif %}
	{% if specimen.edge %}
	<img id="edge" src="{{specimen.edge.url}}" />
	{% endif %}
</div>
<div id="tools" class="grid_2">
	<ul>
		<li>
			<label for="measure"><input type="checkbox" id="measure" /> measure</label>
		</li>
		<li>
			<label for="vis"><input type="checkbox" id="vis" /> show edge map</label>
		</li>
		<li>
			<label for="dim"><input type="checkbox" id="dim" /> dim edge map</label>
		</li>
	</ul>
	
	<form id='threshold' method="post" action="{% url do_canny specimen_id=specimen.pk %}">
	{{edge_form.as_p}}
	<input type="submit" value="update edge map" />
	</form>
</div>
<div class="clear"></div>
<div class="grid_12">
	<form method="post" action="{{specimen.get_absolute_url}}">
	{{form.as_p}}
	<input type="submit" value="Submit" />
	</form>
</div>
{% endblock %}

{% block foot_js %}
<script type="text/javascript" src="{{MEDIA_URL}}lib/jquery/jquery.form.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}lib/jquery/Jcrop/jquery.Jcrop.min.js"></script>
<script type="text/javascript">
	jQuery(function($){
		$('form#threshold').submit(function() {
		    $(this).ajaxSubmit({success: function(){
				var timestamp = new Date().getTime();
				var img_src = '{{specimen.edge.url}}';
	     		$('#edge').attr('src',img_src+'?'+timestamp);
			}}); 
		    return false;
		}); 
		
		$('form#threshold p').add($('form#threshold input[type=submit]')).hide(0)
		$('form#threshold').prepend($('<div/>').attr('id','slider-range'))
		$("#slider-range").slider({
			range: true,
			min: 0,
			max: 1200,
			values: [250, 750],
			slide: function(event, ui) {
				$('#id_lo').val(ui.values[0]);
				$('#id_hi').val(ui.values[1]);
			},
			change: function(event, ui){
				$('form#threshold').submit()
			}
		});
		$('#id_lo').val($('#slider-range').slider('values', 0));
		$('#id_hi').val($('#slider-range').slider('values', 1));
		
		$('#dim').add($('#measure')).attr('checked', false)
		$('#vis').attr('checked', !!$('#edge').length)
		
		$('#vis').change(
			function(){
				$edge = $('#edge')
				if ($edge.length == true){
					if($(this).is(':checked')){
						$edge.show()
					} else {
						$edge.hide()
					}
				}
			}
		).change();
		
		$('#dim').change(function(){
			$edge = $('#edge')
			if ($edge.length == true){
				opac = $(this).is(':checked') ? 0.60 : 1;
				$edge.fadeTo('fast', opac)
			}
		}).change();
		$jcropper = null;
		$('#measure').change(
			function(){
				if($(this).is(':checked')){
					$jcropper = $.Jcrop('#edge',{
//						aspectRatio: 1,
						onSelect: function(c){
							url = '{% url calc_bbox specimen_id=specimen.pk %}'
							coords = {
								h: c.h,
								w: c.w,
								x: c.x,
								x2: c.x2,
								y: c.y,
								y2: c.y2
							}
							$.post(url, coords, function(data){
								console.log(data)
							}, 'json');
						},
						bgOpacity: 0.2
					});	
				} else {
					$jcropper.destroy();
				}
			}
		);
		
		app = new function Application(){
			DEBUG = true
			this.mode = {
				VIEW: 'view mode',
				EDGE: 'edge mode',
				AREA: 'area mode',
				SCALE: 'scale mode',
			}
			
			_mode = this.mode.VIEW;
			
			this.getMode = function(){
				return _mode;
			}
			
			this.setMode = function(m){
				match = false
				for(modeName in this.mode){
					if (m == this.mode[modeName]){
						match = true
						break;
					}
				}
				if(!match){
					throw 'invalid app mode';
				}
				_mode = m;
				if(DEBUG){ console.log('set mode: '+this.getMode())}
				return this;
			}
		};
		
	});
</script>
{% endblock %}